<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>MaschineMikroUSB</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>MaschineMikroDriver</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProbeScore</key>
			<integer>20000</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>idVendor</key>
				<integer>6092</integer>
				<key>idProduct</key>
				<integer>4368</integer>
			</dict>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>bcdDevice</key>
			<integer>256</integer>
			<key>bDeviceClass</key>
			<integer>0</integer>
			<key>bDeviceSubClass</key>
			<integer>0</integer>
			<key>bDeviceProtocol</key>
			<integer>0</integer>
			<key>bMaxPacketSize0</key>
			<integer>64</integer>
			<key>bNumConfigurations</key>
			<integer>1</integer>
		</dict>
		<key>MaschineMikroDFU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>MaschineMikroDriver</string>
			<key>IOKitDebug</key>
			<integer>65535</integer>
			<key>IOProbeScore</key>
			<integer>20000</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>idVendor</key>
				<integer>6092</integer>
				<key>idProduct</key>
				<integer>4370</integer>
			</dict>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>bcdDevice</key>
			<integer>256</integer>
			<key>bDeviceClass</key>
			<integer>0</integer>
			<key>bDeviceSubClass</key>
			<integer>0</integer>
			<key>bDeviceProtocol</key>
			<integer>0</integer>
			<key>bMaxPacketSize0</key>
			<integer>64</integer>
			<key>bNumConfigurations</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
	<key>OSBundleUsageDescription</key>
	<string>Maschine Mikro USB MIDI Controller Driver</string>
</dict>
</plist> 